<h1>New Message</h1>
<%= form_with(model: [ @message.room, @message ]) do |form|%>
<div class="field">
  <%= form.text_field :contente %>
  <%= form.submit 'Enviar' %>
</div>
<% end %>

<%= link_to 'Voltar', @message.room %>